
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/*****************************Navbar************************************/

/*****************************Body***************************************/
h1{
    color: #fffccf;
    font-size: 3em;
}
.who{
    font-size: 3em;
}
.this{
    margin-top: 5%;
    margin-bottom: 5%;
}
.myHeader{
    background-image: url("../images/slogan.jpg");
    position: relative;
    opacity: 1.9;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media only screen and (max-device-width: 1366px) {
    .myHeader {
        background-attachment: scroll;
    }
}
.header_contents{
    margin: 25%;
}
/*****************************LoginPage********************************/
.loginPage{
    background-image: url("../images/background.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.theCard{
    margin: 10%;
}
/*****************************Signup***************************************/

