{% load bootstrap4 %}
<html>
<head>
<!--Head area-->
    <meta charset="utf-8">
    <title>
    {% block title %}
        Accelevate
    {% endblock %}

    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}
    </title>
</head>
<body>
<!--Body area-->
{% block heading %}
    <!--Navbars and stuff-->
{% endblock %}
{% block content %}
    <!--Content for body-->

{% endblock %}
<!--Scripts Area-->
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
{% endblock %}
</body>
</html>